* {
    margin: 0;
    list-style: none;

}

body {
    list-style: none;
    
    
    
    & .principal {
        display: flex;
        justify-content: center;
        gap: 70%;
        align-items: center;
        background-color: rgb(200, 190, 236);
        padding: 20px;
    }

    & .div-primeiro {
       
        text-align: center;    
        width: 400px;
        height: 300px;
        background-color: rgb(221, 184, 255);
        
    }

}

body main ul {
    display: flex;
    gap: 30px;
}
